{:stack/initial-schema
 {:txes [[;; sessions
          {:db/ident :session/key
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/uuid
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/index true
           :db/doc "Key to look up session"
           :db.install/_attribute :db.part/db}

          {:db/ident :session/data
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "All session data"
           :db.install/_attribute :db.part/db}
          
          ;; users
          {:db/ident :user/password
           :db/id #db/id [:db.part/db]
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}

          {:db/ident :user/email
           :db/id #db/id [:db.part/db]
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/index true
           :db/fulltext true
           :db.install/_attribute :db.part/db}

          {:db/ident :user/password-reset-token
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/index true
           :db.install/_attribute :db.part/db}
          
          {:db/ident :user/password-reset-token-generated-at
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}]]}}
